services:
  vault:
    build:
      context: .
    cap_add:
      - IPC_LOCK
    ports:
      - "8201:8200"
    networks:
      - app-network
    environment:
      VAULT_ADDR: http://localhost:8201

networks:
  app-network:
    driver: bridge